# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- macOS ---
.DS_Store
.DS_Store?
._*

# --- Project Specific ---

# Don't upload large model weights (.keras files)
output/
# Local logs for Weights & Biases
wandb/
# Temporary project-related markdown files
markdowns/
# Jupyter temporary files
*.ipynb_checkpoints

# --- IDEs ---
.vscode/
.specstory/

# --- Additional Files ---
test.ipynb
.cursorindexingignore
commit_msg.txt
